/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	fragment@0 {
		target = <&i2c7>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c7m1_xfer_drv_level_2>;
			#address-cells = <1>;
			#size-cells = <0>;

			tca9535_0: tca9535-0@26 {
				compatible = "nxp,pca9535";
				reg = <0x26>;
				gpio-controller;
				#gpio-cells = <2>;
			};

			tca9535_1: tca9535-1@27 {
				compatible = "nxp,pca9535";
				reg = <0x27>;
				gpio-controller;
				#gpio-cells = <2>;
			};
		};
	};

	fragment@1 {
		target = <&pinctrl>;

		__overlay__ {
		i2c7-drv-level-2 {
			i2c7m1_xfer_drv_level_2: i2c7m1-xfer-drv-level_2 {
				rockchip,pins =
					/* i2c7_scl_m1 */
					<3 RK_PA0 11 &pcfg_pull_none_drv_level_2_smt>,
					/* i2c7_sda_m1 */
					<3 RK_PA1 11 &pcfg_pull_none_drv_level_2_smt>;
				};
			};
		};
	};
};
